@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

.homeelement{
  font-size: 20px;
}
#homeelement-1{
  position: absolute;
  top: 35px;
  left: 300px;
  font-family: 'Raleway', sans-serif;
}

#homeelement-2{
  position: absolute;
  top: 35px;
  left: 425px;
  font-family: 'Raleway', sans-serif;
}

#homeelement-5{
  position: absolute;
  top: 35px;
  left: 575px;
  font-family: 'Raleway', sans-serif;
}

#homeelement-3{
  position: absolute;
  top: 35px;
  right: 450px;
  font-family: 'Raleway', sans-serif;
}

#homeelement-4{
  position: absolute;
  top: 43px;
  right: 50px;
  font-family: 'Raleway', sans-serif;
}

.hr1 {
    margin-top: 5px;
    width: 0%;
    background: black;
    height: 1.5px;
    border: none;
    transition: width .4s ease-in-out;
}


nav ul li a:hover hr, nav ul li a hr:hover {
    width: 100%;
}
