{% load static  %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Auctions/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Auctions/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Users/register.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Kaushan+Script" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-md bg-gradient-light justify-content-md-center justify-content-start mynav">
      <a class="navbar-brand d-md-none d-inline" href="">Bid 'n' Win</a>
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>
          <nav class="navbar navbar-light bg-light">
            <a href="#">
                <img src="{% static 'Auctions/auctionlogo.png' %}" width="120" height="80" alt="">
            <a>
          </nav>
        <a class="nav-link" href="#"><i class="fa fa-search mr-1"></i></a>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
          <ul class="navbar-nav mx-auto text-md-center text-left">
              <li class="nav-item">
                  <a class="nav-link homeelement" id="homeelement-1"  href="{% url 'index' %}">HOME <hr class="hr1"> </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link homeelement" id="homeelement-2"  href="#">EXPLORE <hr class="hr1"> </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link homeelement" id="homeelement-5"  href="#">LOGIN <hr class="hr1"> </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link homeelement" id="homeelement-3"  href="{% url 'register' %}">REGISTER <hr class="hr1"> </a>
              </li>

              <form class="form-inline my-2 my-lg-0" id="homeelement-4">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH</button>
              </form>
          </ul>
      </div>
    </nav>


    {% block content %}{% endblock %}

    <!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">


    <!-- Footer Links -->
    <div class="container text-center text-md-center mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">


        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Bid 'n' Win </h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Our Venture is an initative to connect Auctioneers and Bidders in a hassle-free and convenient manner to facilitate the live auction procedure.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Links  </h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">HOME</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">EXPLORE</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">LOGIN</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">REGISTER</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">FOLLOW US</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">FACEBOOK</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">INSTAGRAM</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">GITHUB</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">LINKEDIN</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact </h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Sri City, India</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> info@example.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
      <a class="dark-grey-text" href="">Bid 'N' Win</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

    </body>
</html>