{% extends "Auctions/base.html" %}
{% load static %}
{% block content %}

    <br><br><br><br><br><br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 tagline ">
          Register. Participate. Bid. Win.
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-2">
          <div class="hexagon1"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon2"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon1"><span></span></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-2">
          <div class="hexagon2"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon3"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon4">
            <div class="hexTop4"></div>
            <div class="hexBottom4"></div>
          </div>
        </div>
        <div class="col-sm-2">
        <div class="hexagon5"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon3"><span></span></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-2">
          <div class="hexagon4">
            <div class="hexTop4"></div>
            <div class="hexBottom4"></div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon3"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon1"><span></span></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-2">
          <div class="hexagon1"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon2"><span></span></div>
        </div>
        <div class="col-sm-2">
          <div class="hexagon">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br>

            <div class="container">
                <div class="row justify-content-center">
                  <div class="col-sm-2 stats">
                    STATISTICS <hr class="statsline">
                  </div>
                </div>
            </div>
            <div class="circle-wrap">
              <div class="circle">
                <div class="mask full">
                  <div class="fill"></div>
                </div>
                <div class="mask half">
                  <div class="fill"></div>
                </div>
                <div class="inside-circle">
                  70%
                </div>
              </div>
            </div>

            <div class="circle-wrap-2">
              <div class="circle">
                <div class="mask full">
                  <div class="fill"></div>
                </div>
                <div class="mask half">
                  <div class="fill"></div>
                </div>
                <div class="inside-circle">
                  40%
                </div>
              </div>
            </div>

            <div class="circle-wrap-3">
              <div class="circle">
                <div class="mask full">
                  <div class="fill"></div>
                </div>
                <div class="mask half">
                  <div class="fill"></div>
                </div>
                <div class="inside-circle">
                  60%
                </div>
              </div>
            </div>

            <div class="circle-wrap-4">
              <div class="circle">
                <div class="mask full">
                  <div class="fill"></div>
                </div>
                <div class="mask half">
                  <div class="fill"></div>
                </div>
                <div class="inside-circle">
                  20%
                </div>
              </div>
            </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}

